/* ----------------------------------------
   -------- 10.HEADER AND NAVIGATION ------
   ---------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
.navbar-fixed-top {
  z-index: 99; }

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  padding: 36px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  margin-top: 6px; }

.navbar-default.navbar-light .close-btn .navbar-right > li > a {
  padding: 16px 18px; }

.navbar-default.navbar-light .navbar-nav > li > a {
  padding: 10px 18px;
  color: #fff; }

.navbar-default .navbar-nav > li > a {
  color: #191919;
  font-weight: 600;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 14px;
  padding: 10px 18px; }

.navbar-default .navbar-nav > li > a:hover {
  color: #2644bc !important;
  background-color: transparent; }

.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:focus,
.navbar-default .navbar-nav > li.active > a:hover {
  color: #2644bc !important;
  background-color: transparent; }

.top-nav-collapse {
  background-color: #fff;
  padding: 9px 0;
  -webkit-box-shadow: 0 0 6px #b8b8b9;
  -moz-box-shadow: 0 0 6px #b8b8b9;
  box-shadow: 0 0 6px #b8b8b9;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease; }

.top-nav-collapse .navbar-nav > li > a,
.top-nav-collapse.navbar-light .navbar-nav > li > a,
.navbar-default.nav-portfolio-detail .navbar-nav > li > a {
  color: #191919; }

.navbar-default.navbar-light .logo_light {
  display: block; }

.navbar-default.navbar-light .logo_dark {
  display: none; }

.top-nav-collapse.navbar-light .logo_dark {
  display: block; }

.top-nav-collapse.navbar-light .logo_light {
  display: none; }

.navbar-default .navbar-toggle {
  border: none; }

.navbar-default.nav-portfolio-detail .navbar-brand .logo_light {
  display: none; }

.navbar-default.nav-portfolio-detail .navbar-brand .logo_dark {
  display: block; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff; }

.top-nav-collapse .navbar-toggle .icon-bar {
  background-color: #191919; }

@media (max-width: 767.98px) {
  .page-template .fixed-top {
    position: relative;
    top: auto;
    padding-bottom: 0;
    padding-top: 1rem; }
  .navbar-default.navbar-light .logo_light {
    display: none; }
  .navbar-default.navbar-light .logo_dark {
    display: block; } }

@font-face {
  font-family: 'brandon_textregular';
  src: url("fonts/hvd_fonts_-_brandontext-regular-webfont.eot");
  src: url("fonts/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.woff2") format("woff2"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.woff") format("woff"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.ttf") format("truetype"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.svg#hvd_fonts_-_brandontext-regular-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff") format("woff"), url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.svg#brandon-grotesque-medium-587bd623e472a-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.woff") format("woff"), url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.svg#brandon-grotesque-bold-587bd6400afd0-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesquethin';
  src: url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.woff") format("woff"), url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.svg#brandon-grotesque-thin-587bd5b76cfba-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("fonts/brandon_reg-webfont.woff2") format("woff2"), url("fonts/brandon_reg-webfont.woff") format("woff"), url("fonts/brandon_reg-webfont.ttf") format("truetype"), url("fonts/brandon_reg-webfont.svg#brandon_reg-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesqueblack';
  src: url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff") format("woff"), url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.svg#brandon-grotesque-black-58a8a3e824392-webfont") format("svg"); }

@font-face {
  font-family: 'Brandon_Grotesque_Light';
  src: url("fonts/BrandonGrotesque-Light.woff2") format("woff2"), url("fonts/BrandonGrotesque-Light.woff") format("woff"), url("fonts/BrandonGrotesque-Light.ttf") format("truetype"), url("fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format("svg"); }

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.pn-ProductNav_Wrapper {
  position: relative; }

.pn-ProductNav {
  /* Make this scrollable when needed */
  overflow-x: auto;
  /* We don't want vertical scrolling */
  overflow-y: hidden;
  /* For WebKit implementations, provide inertia scrolling */
  -webkit-overflow-scrolling: touch;
  /* We don't want internal inline elements to wrap */
  white-space: nowrap;
  /* If JS present, let's hide the default scrollbar */
  /* positioning context for advancers */
  position: relative; }
  .js .pn-ProductNav {
    /* Make an auto-hiding scroller for the 3 people using a IE */
    -ms-overflow-style: -ms-autohiding-scrollbar;
    /* Remove the default scrollbar for WebKit implementations */ }
    .js .pn-ProductNav::-webkit-scrollbar {
      display: none; }

@media (min-width: 991.98px) {
  .front-page .pn-ProductNav_Wrapper {
    z-index: 15;
    margin-top: -3.5rem; }
  .front-page .pn-ProductNav {
    display: flex;
    justify-content: center; } }

@media (max-width: 991.97px) {
  button.btn {
    background: white; } }

.pn-ProductNav_Contents {
  float: left;
  transition: transform .2s ease-in-out;
  display: inline-flex;
  justify-content: center;
  align-items: center; }

.pn-ProductNav_Contents-no-transition {
  transition: none; }

.front-page .pn-ProductNav_Link {
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  border-color: rgba(151, 151, 151, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 4px;
  text-decoration: none;
  color: #2C5895;
  font-size: 0.625rem;
  font-family: "brandon_grotesquebold";
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 90px;
  text-align: center;
  letter-spacing: 1.6px;
  display: inline-flex;
  text-transform: uppercase;
  position: relative;
  padding: 45px 11px 11px;
  margin-left: 11px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .front-page .pn-ProductNav_Link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/icon-all-dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    top: -10px; }
  .front-page .pn-ProductNav_Link:hover {
    background: #2C5895;
    color: white;
    padding: 45px 11px 11px; }
    .front-page .pn-ProductNav_Link:hover:before {
      background-image: url(/assets/icon-all.svg) !important; }
  .front-page .pn-ProductNav_Link + .front-page .pn-ProductNav_Link {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 11px;
    padding: 45px 11px 11px;
    text-align: center; }
  .front-page .pn-ProductNav_Link[aria-selected="true"] {
    color: white;
    background: #00A4E6;
    text-transform: uppercase;
    padding: 45px 11px 11px;
    text-decoration: none; }
    .front-page .pn-ProductNav_Link[aria-selected="true"]:before {
      background-image: url(/assets/icon-all.svg) !important; }
  .front-page .pn-ProductNav_Link[aria-selected="false"] {
    padding: 45px 11px 11px;
    text-decoration: none; }

.page-template .pn-ProductNav_Link {
  border-style: solid;
  border-width: 1px;
  border-color: #2C5895;
  border-color: rgba(44, 88, 149, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 4px;
  text-decoration: none;
  color: #2C5895;
  font-size: 0.625rem;
  font-family: "brandon_grotesquebold";
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  text-align: center;
  letter-spacing: 1.6px;
  display: inline-flex;
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
  margin-right: 11px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .page-template .pn-ProductNav_Link:hover {
    background: #2C5895;
    color: white; }
  .page-template .pn-ProductNav_Link + .page-template .pn-ProductNav_Link {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 11px;
    text-align: center; }
  .page-template .pn-ProductNav_Link[aria-selected="true"] {
    color: white;
    background: #00A4E6;
    text-transform: uppercase;
    text-decoration: none; }

.pn-Advancer {
  /* Reset the button */
  appearance: none;
  background: transparent;
  padding: 0;
  border: 0;
  /* Now style it as needed */
  position: absolute;
  top: 0;
  bottom: 0;
  /* Set the buttons invisible by default */
  opacity: 0;
  transition: opacity .3s; }
  .pn-Advancer:focus {
    outline: 0; }
  .pn-Advancer:hover {
    cursor: pointer; }

.pn-Advancer_Left {
  left: 0; }
  [data-overflowing="both"] ~ .pn-Advancer_Left,
  [data-overflowing="left"] ~ .pn-Advancer_Left {
    opacity: 1; }

.pn-Advancer_Right {
  right: 0; }
  [data-overflowing="both"] ~ .pn-Advancer_Right,
  [data-overflowing="right"] ~ .pn-Advancer_Right {
    opacity: 1; }

.pn-Advancer_Icon {
  width: 20px;
  height: 44px;
  fill: #bbb; }

@font-face {
  font-family: 'brandon_textregular';
  src: url("fonts/hvd_fonts_-_brandontext-regular-webfont.eot");
  src: url("fonts/hvd_fonts_-_brandontext-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.woff2") format("woff2"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.woff") format("woff"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.ttf") format("truetype"), url("fonts/hvd_fonts_-_brandontext-regular-webfont.svg#hvd_fonts_-_brandontext-regular-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.woff") format("woff"), url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-medium-587bd623e472a-webfont.svg#brandon-grotesque-medium-587bd623e472a-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.woff") format("woff"), url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-bold-587bd6400afd0-webfont.svg#brandon-grotesque-bold-587bd6400afd0-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesquethin';
  src: url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.woff") format("woff"), url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-thin-587bd5b76cfba-webfont.svg#brandon-grotesque-thin-587bd5b76cfba-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("fonts/brandon_reg-webfont.woff2") format("woff2"), url("fonts/brandon_reg-webfont.woff") format("woff"), url("fonts/brandon_reg-webfont.ttf") format("truetype"), url("fonts/brandon_reg-webfont.svg#brandon_reg-webfont") format("svg"); }

@font-face {
  font-family: 'brandon_grotesqueblack';
  src: url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff2") format("woff2"), url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.woff") format("woff"), url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.ttf") format("truetype"), url("fonts/brandon-grotesque-black-58a8a3e824392-webfont.svg#brandon-grotesque-black-58a8a3e824392-webfont") format("svg"); }

@font-face {
  font-family: 'Brandon_Grotesque_Light';
  src: url("fonts/BrandonGrotesque-Light.woff2") format("woff2"), url("fonts/BrandonGrotesque-Light.woff") format("woff"), url("fonts/BrandonGrotesque-Light.ttf") format("truetype"), url("fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light") format("svg"); }

.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

/* Global styles
-------------------------------------------------- */
.navbar-brand {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .navbar-brand:hover {
    transform: scale(1.05);
    transition-duration: 0.2s; }

.zoom-img-hover, .zoom-img, .mansonay .card-columns .card:hover img, .mansonry-productos .card-columns .card:hover img {
  transform: scale(1.05);
  transition-duration: 0.5s; }

.cardhover, .mansonay .card-columns .card .hover-card, .mansonry-productos .card-columns .card .hover-card {
  position: absolute;
  top: 0;
  lef: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .cardhover::before, .mansonay .card-columns .card .hover-card::before, .mansonry-productos .card-columns .card .hover-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 1;
    opacity: .3; }

.button-card {
  border-style: solid;
  border-width: 1px;
  border-color: #979797;
  border-color: rgba(151, 151, 151, 0.4);
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  border-radius: 4px;
  text-decoration: none;
  color: #2C5895;
  font-size: 0.625rem;
  font-family: "brandon_grotesquebold";
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 90px;
  text-align: center;
  letter-spacing: 1.6px;
  display: inline-flex;
  text-transform: uppercase;
  position: relative;
  margin-right: 0.35rem;
  padding: 45px 11px 11px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .button-card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/icon-all-dark.svg);
    background-repeat: no-repeat;
    background-position: center top;
    top: 10px; }
  .button-card:hover {
    background: #00A4E6;
    color: white; }
    .button-card:hover:before {
      background-image: url(/assets/icon-all.svg) !important; }
  .button-card + .button-card {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 11px;
    padding: 45px 11px 11px;
    text-align: center; }
  .button-card:focus {
    color: white;
    background: #00A4E6;
    text-transform: uppercase;
    padding: 45px 11px 11px;
    text-decoration: none; }
    .button-card:focus:before {
      background-image: url(/assets/icon-all.svg) !important; }

.button-card-column {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 4px;
  text-decoration: none;
  color: #2C5895;
  font-size: 0.625rem;
  font-family: "brandon_grotesquebold";
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 90px;
  text-align: center;
  letter-spacing: 1.6px;
  display: inline-flex;
  text-transform: uppercase;
  position: relative;
  margin-right: 0.35rem;
  padding: 45px 11px 11px;
  overflow: hidden;
  color: white;
  background: transparent !important;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .button-card-column::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(/assets/icon-all.svg);
    background-repeat: no-repeat;
    background-position: center top;
    top: 10px; }
  .button-card-column:hover {
    background: #00A4E6 !important;
    border-color: #00A4E6;
    color: white; }
    .button-card-column:hover:before {
      background-image: url(/assets/icon-all.svg) !important; }
  .button-card-column + .button-card-column {
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 11px;
    padding: 45px 11px 11px;
    text-align: center; }

.mt-md-10 {
  margin-top: 8rem; }
  @media (max-width: 575.98px) {
    .mt-md-10 {
      margin-top: 1rem; } }
  @media (min-width: 768px) and (max-width: 991.98px) {
    .mt-md-10 {
      margin-top: 12rem; } }

@media (max-width: 991.98px) {
  .mt-mb-4 {
    margin-top: 1.5rem; } }

/* Front page
-------------------------------------------------- */
header .dropdown-cat button {
  padding: 15px 20px;
  font-family: "brandon_grotesquebold";
  text-transform: uppercase;
  font-size: 0.625rem;
  letter-spacing: 2px;
  color: #2C5895;
  background: white; }

.carrousel {
  position: relative; }
  .carrousel .carousel-item {
    height: 70vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    @media (max-width: 575.98px) {
      .carrousel .carousel-item {
        height: 100vh; } }
    @media (max-width: 575.98px) {
      .carrousel .carousel-item {
        background-image: url("http://placehold.it/300x675"); }
        .carrousel .carousel-item video {
          display: none; } }
  .carrousel .carousel-block-white {
    position: absolute;
    height: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    background: white; }
  .carrousel .owl-nav, .carrousel .owl-dots {
    position: absolute; }
    @media (max-width: 991.98px) {
      .carrousel .owl-nav, .carrousel .owl-dots {
        display: none; } }
  .carrousel #background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; }
  .carrousel .owl-nav {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 5%; }
    .carrousel .owl-nav .owl-prev, .carrousel .owl-nav .owl-next {
      position: absolute;
      top: 0;
      bottom: 0;
      display: inline-block;
      zoom: 1;
      margin: 0;
      width: 50px;
      height: 50px;
      line-height: 45px;
      text-align: center;
      font-size: 1em;
      border-radius: 30px;
      color: #FFF;
      background: #000;
      opacity: .6;
      border-radius: 50px; }
    .carrousel .owl-nav .owl-prev {
      right: 3em; }
    .carrousel .owl-nav .owl-next {
      right: .5em; }

.mansonay .title-card-columns {
  font-size: 2rem;
  font-family: "brandon_textregular";
  color: #2C5895;
  line-height: 1; }
  .mansonay .title-card-columns span {
    font-family: "brandon_grotesquebold"; }
  @media (max-width: 575.98px) {
    .mansonay .title-card-columns {
      font-size: 1.6rem; }
      .mansonay .title-card-columns span {
        font-family: "brandon_grotesquemedium"; } }

@media (max-width: 575.98px) {
  .mansonay .card-columns {
    column-count: 2; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .mansonay .card-columns {
    column-count: 3; } }

@media (min-width: 1200px) {
  .mansonay .card-columns {
    column-count: 3; } }

.mansonay .card-columns .card {
  overflow: hidden;
  position: relative;
  -moz-column-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  column-break-inside: avoid;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  transform: translateX(0); }
  .mansonay .card-columns .card:hover .hover-card {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  @media (max-width: 991.98px) {
    .mansonay .card-columns .card .hover-card {
      display: none; } }
  .mansonay .card-columns .card .hover-card .card-buttons-hover {
    position: relative;
    z-index: 2; }

.mansonry-productos .title-card-columns {
  font-size: 2rem;
  font-family: "brandon_textregular";
  color: #2C5895;
  line-height: 1; }
  .mansonry-productos .title-card-columns span {
    font-family: "brandon_grotesquebold"; }
  @media (max-width: 575.98px) {
    .mansonry-productos .title-card-columns {
      font-size: 1.6rem; }
      .mansonry-productos .title-card-columns span {
        font-family: "brandon_grotesquemedium"; } }

@media (max-width: 575.98px) {
  .mansonry-productos .card-columns {
    column-count: 2; } }

@media (min-width: 992px) and (max-width: 1199.98px) {
  .mansonry-productos .card-columns {
    column-count: 3; } }

@media (min-width: 1200px) {
  .mansonry-productos .card-columns {
    column-count: 4; } }

.mansonry-productos .card-columns .card {
  overflow: hidden; }
  .mansonry-productos .card-columns .card:hover .hover-card {
    opacity: 1;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  @media (max-width: 991.98px) {
    .mansonry-productos .card-columns .card .hover-card {
      display: none; } }
  .mansonry-productos .card-columns .card .hover-card .card-buttons-hover {
    position: relative;
    z-index: 2; }

.info-bar {
  /* just for demo */
  background-color: #F8F8F8;
  border-top: 1px solid #E7E7E7;
  text-align: center;
  padding: 20px;
  /* just for demo */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%; }

footer {
  background: #0069B4;
  padding: 30px 0; }
  footer .footer-terms {
    font-family: "Brandon_Grotesque_Light";
    font-size: 1rem;
    color: white; }
    @media (max-width: 575.98px) {
      footer .footer-terms {
        padding: 1rem; } }

/* Detalle Ambiente/espacio
-------------------------------------------------- */
.page-template .navbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border-bottom: 1px solid #f0f0f0;
  background: white;
  z-index: -1; }

.page-template .navbar.top-nav-collapse::before {
  border: none; }

@media (max-width: 575.98px) {
  .page-template .navbar::before {
    background: transparent;
    border: none; } }

.jumbotron {
  padding-bottom: 1rem;
  background: white; }
  @media (max-width: 575.98px) {
    .jumbotron {
      padding: 1rem; }
      .jumbotron > .container {
        padding: 0; } }
  .jumbotron .block-productos {
    background: white;
    position: absolute;
    right: -1rem;
    top: 10%; }
    @media (max-width: 575.98px) {
      .jumbotron .block-productos {
        position: relative;
        margin-top: 1rem;
        right: 0; } }
    .jumbotron .block-productos .title-block-productos {
      padding: 1rem 1rem 1rem 0; }
      @media (max-width: 575.98px) {
        .jumbotron .block-productos .title-block-productos {
          padding-left: 0; } }
      .jumbotron .block-productos .title-block-productos h2 {
        font-family: "brandon_textregular";
        font-size: 1.25rem;
        color: #2C5895;
        text-transform: uppercase;
        line-height: 1; }
        .jumbotron .block-productos .title-block-productos h2 span {
          font-family: "brandon_grotesquebold";
          display: block; }
    .jumbotron .block-productos .item-producto {
      margin-bottom: 1rem;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      position: relative; }
      .jumbotron .block-productos .item-producto a img {
        display: block;
        position: relative; }
      .jumbotron .block-productos .item-producto .media-body {
        position: relative; }
        .jumbotron .block-productos .item-producto .media-body h5 {
          font-family: "brandon_grotesquebold";
          font-size: 0.75rem;
          text-transform: uppercase;
          padding-right: 1rem; }
          .jumbotron .block-productos .item-producto .media-body h5 a {
            color: #504F52; }
        .jumbotron .block-productos .item-producto .media-body .ref {
          font-family: "brandon_grotesquebold";
          font-size: 0.75rem;
          color: #0069B4; }
      .jumbotron .block-productos .item-producto::before {
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #f4f4f4;
        position: absolute;
        opacity: 0;
        z-index: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out; }
      .jumbotron .block-productos .item-producto:hover a img {
        transform: scale(1.05);
        transition-duration: 0.5s; }
      .jumbotron .block-productos .item-producto:hover::before {
        opacity: 1;
        transform: scale(1.2);
        transition-duration: 0.5s; }
  @media (max-width: 575.98px) {
    .jumbotron .col-md-12.ml-3.mr-3 {
      margin: 0 !important; } }
  @media (max-width: 575.98px) {
    .jumbotron .card-body.col-md-8.border-right {
      border-right: 0 !important; } }
  .jumbotron .card-text {
    font-family: "brandon_textregular";
    font-size: 0.9375rem;
    color: #504F52;
    line-height: 1.1; }
  .jumbotron .card-title-producto {
    font-family: "brandon_textregular";
    font-size: 1.5rem !important;
    color: #0069B4;
    display: inline-block;
    padding-right: 1rem; }
    .jumbotron .card-title-producto span {
      font-family: "brandon_grotesquebold"; }
  .jumbotron .card-text-producto {
    font-family: "Brandon_Grotesque_Light";
    font-size: 1.1rem;
    color: #504F52;
    line-height: 1.2; }
  .jumbotron .ref-producto {
    font-family: "brandon_textregular";
    font-size: 1.3rem !important;
    color: #504F52; }

/*# sourceMappingURL=style.css.map */
