// =============================================================================
// Variables Nuevas
// =============================================================================
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
$font-family-serif:			  "PT Serif", serif;	
$bootstrap-sass-asset-helper: false;
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "fonts/");

//** File name for all font files.

$body-font-name-regular:     "hvd_fonts_-_brandontext-regular-webfont";
$body-font-svg-id-regular:   "hvd_fonts_-_brandontext-regular-webfont";
$body-font-name-medium:      "brandon-grotesque-medium-587bd623e472a-webfont";
$body-font-svg-id-medium:    "brandon-grotesque-medium-587bd623e472a-webfont";
$body-font-name-light:       "BrandonGrotesque-Light";
$body-font-svg-id-light:     "BrandonGrotesque-Light";
$body-font-name-bold:      	 "brandon-grotesque-bold-587bd6400afd0-webfont";
$body-font-svg-id-bold:   	 "brandon-grotesque-bold-587bd6400afd0-webfont";
$body-font-name-thin:        "brandon-grotesque-thin-587bd5b76cfba-webfont";
$body-font-svg-id-thin:      "brandon-grotesque-thin-587bd5b76cfba-webfont";
$body-font-name-black:       "brandon-grotesque-black-58a8a3e824392-webfont";
$body-font-svg-id-black:     "brandon-grotesque-black-58a8a3e824392-webfont";
$body-font-name-regularRg:   "brandon_reg-webfont";
$body-font-svg-id-regularRg: "brandon_reg-webfont";

$font-family-brand-regular:  "brandon_textregular";
$font-family-brand-medium:   "brandon_grotesquemedium";
$font-family-brand-light:    "Brandon_Grotesque_Light";
$font-family-brand-bold:     "brandon_grotesquebold";
$font-family-brand-thin:     "brandon_grotesquethin";
$font-family-brand-black:    "brandon_grotesqueblack";
$font-family-brand-regularRg:"brandon_grotesque_regularRg";

$color-brand-blue:          #2C5895;
$color-brand-corona:        #0069B4;
$color-brand-blue-light:    #00A4E6;
$color-brand-blue-dark:     #2C5895;
$color-brand-yellow:        #FFC72C;
$color-brand-grey:          #979797;
$color-brand-fucsia:        #E10F54;
$color-brand-morado:        #8A1B61;
$color-brand-grey-dark:     #504F52;


// =============================================================================
// Tipografia Brandon
// =============================================================================
@at-root {
  // Import the fonts
  @font-face{
    font-family:'brandon_textregular';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regular}.eot'), '#{$icon-font-path}#{$body-font-name-regular}.eot'));
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regular}.eot?#iefix'), '#{$icon-font-path}#{$body-font-name-regular}.eot?#iefix')) format('embedded-opentype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regular}.woff2'), '#{$icon-font-path}#{$body-font-name-regular}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regular}.woff'), '#{$icon-font-path}#{$body-font-name-regular}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regular}.ttf'), '#{$icon-font-path}#{$body-font-name-regular}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regular}.svg##{$body-font-svg-id-regular}'), '#{$icon-font-path}#{$body-font-name-regular}.svg##{$body-font-svg-id-regular}')) format('svg');
  }
    @font-face{
    font-family:'brandon_grotesquemedium';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-medium}.woff2'), '#{$icon-font-path}#{$body-font-name-medium}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-medium}.woff'), '#{$icon-font-path}#{$body-font-name-medium}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-medium}.ttf'), '#{$icon-font-path}#{$body-font-name-medium}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-medium}.svg##{$body-font-svg-id-medium}'), '#{$icon-font-path}#{$body-font-name-medium}.svg##{$body-font-svg-id-medium}')) format('svg');
  }
    @font-face{
    font-family:'brandon_grotesquebold';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-bold}.woff2'), '#{$icon-font-path}#{$body-font-name-bold}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-bold}.woff'), '#{$icon-font-path}#{$body-font-name-bold}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-bold}.ttf'), '#{$icon-font-path}#{$body-font-name-bold}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-bold}.svg##{$body-font-svg-id-bold}'), '#{$icon-font-path}#{$body-font-name-bold}.svg##{$body-font-svg-id-bold}')) format('svg');
  }
  @font-face{
    font-family:'brandon_grotesquethin';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-thin}.woff2'), '#{$icon-font-path}#{$body-font-name-thin}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-thin}.woff'), '#{$icon-font-path}#{$body-font-name-thin}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-thin}.ttf'), '#{$icon-font-path}#{$body-font-name-thin}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-thin}.svg##{$body-font-svg-id-thin}'), '#{$icon-font-path}#{$body-font-name-thin}.svg##{$body-font-svg-id-thin}')) format('svg');
  }
  @font-face{
    font-family:'brandon_grotesque_regularRg';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regularRg}.woff2'), '#{$icon-font-path}#{$body-font-name-regularRg}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regularRg}.woff'), '#{$icon-font-path}#{$body-font-name-regularRg}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regularRg}.ttf'), '#{$icon-font-path}#{$body-font-name-regularRg}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-regularRg}.svg##{$body-font-svg-id-regularRg}'), '#{$icon-font-path}#{$body-font-name-regularRg}.svg##{$body-font-svg-id-regularRg}')) format('svg');
  }
  @font-face{
    font-family:'brandon_grotesqueblack';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-black}.woff2'), '#{$icon-font-path}#{$body-font-name-black}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-black}.woff'), '#{$icon-font-path}#{$body-font-name-black}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-black}.ttf'), '#{$icon-font-path}#{$body-font-name-black}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-black}.svg##{$body-font-svg-id-black}'), '#{$icon-font-path}#{$body-font-name-black}.svg##{$body-font-svg-id-black}')) format('svg');
  }
  @font-face{
    font-family:'Brandon_Grotesque_Light';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-light}.woff2'), '#{$icon-font-path}#{$body-font-name-light}.woff2')) format('woff2'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-light}.woff'), '#{$icon-font-path}#{$body-font-name-light}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-light}.ttf'), '#{$icon-font-path}#{$body-font-name-light}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$body-font-name-light}.svg##{$body-font-svg-id-light}'), '#{$icon-font-path}#{$body-font-name-light}.svg##{$body-font-svg-id-light}')) format('svg');
  }
}







// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

// =============================================================================
// Opacity
// =============================================================================
// Opacity should be on a 100 point scale (0-100 instead of 0.0-1.0)
// This should be used to supplement a normal border definition as it
// only deals with the 'border-color' property.
@mixin border-opacity($color, $opacity) {
	$opacity: $opacity / 100;

	// Unsupporting browsers get this
	border-color: $color;

	// Browsers that support RGBA will get this instead
	border-color: rgba($color, $opacity);

	// Prevent the element's background from reaching the edge of the border
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	background-clip: padding-box;
}

// =============================================================================
// color placeholder
// =============================================================================

@mixin placeholder-color($color) {
  	&::-webkit-input-placeholder { /* WebKit browsers */
  		font-family:$font-family-brand-light;
      	color:$color;
  	}
  	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      	color:$color;
      	font-family:$font-family-brand-light;
  	}
  	&::-moz-placeholder { /* Mozilla Firefox 19+ */
      	color:$color;
      	font-family:$font-family-brand-light;
  	}
  	&:-ms-input-placeholder { /* Internet Explorer 10+ */
      	color:$color;
      	font-family:$font-family-brand-light;
  	}
}

// =============================================================================
// Even odd
// =============================================================================

@mixin even(){
  &:nth-child(even) {
    @content
  }
}

@mixin odd(){
  &:nth-child(odd) {
    @content
  }
}

// =============================================================================
// transition
// =============================================================================

@mixin transition($transition...) {
  -webkit-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transition-property($transition-property...) {
  -webkit-transition-property: $transition-property;
          transition-property: $transition-property;
}
@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: $transition-delay;
          transition-delay: $transition-delay;
}
@mixin transition-duration($transition-duration...) {
  -webkit-transition-duration: $transition-duration;
          transition-duration: $transition-duration;
}
@mixin transition-timing-function($timing-function) {
  -webkit-transition-timing-function: $timing-function;
          transition-timing-function: $timing-function;
}
@mixin transition-transform($transition...) {
  -webkit-transition: -webkit-transform $transition;
     -moz-transition: -moz-transform $transition;
       -o-transition: -o-transform $transition;
          transition: transform $transition;
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

@mixin backface-visibility($visibility) {
  -webkit-backface-visibility: $visibility;
     -moz-backface-visibility: $visibility;
          backface-visibility: $visibility;
}
// Animations
@mixin animation($animation) {
  -webkit-animation: $animation;
       -o-animation: $animation;
          animation: $animation;
}
@mixin translate3d($x, $y, $z) {
  -webkit-transform: translate3d($x, $y, $z);
          transform: translate3d($x, $y, $z);
}

@mixin transition-late($time, $type, $delay){
    -webkit-transition: all $time $type $delay;
    -moz-transition: all $time $type $delay;
    -o-transition: all $time $type $delay;
    -ms-transition: all $time $type $delay;
    transition: all $time $type $delay;
}
.animated {
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



